@model C_Sharp_IKM.Models.Employee

@{
    ViewData["Title"] = "Детали сотрудника";
}

<h2>Информация о сотруднике</h2>

<div class="card">
    <div class="card-body">
        @* Выводим данные напрямую через @Model *@
        <p>Табельный номер: @Model.ServiceNumber</p>

        <p>Фамилия: @Model.Surname</p>

        <p>Имя: @Model.Name</p>

        <p>Должность: @Model.Post</p>

        <p>Номер телефона: @Model.PhoneNumber</p>
    </div>
</div>

<div class="mt-3">
    @* Ссылка на редактирование сотрудника *@
    <a asp-action="Edit" asp-route-id="@Model.ServiceNumber" class="btn btn-success">Изменить</a>

    @* Возврат к общему списку *@
    <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
</div>